@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

:root {
    --primary-color: #4CAF50;
    --secondary-color: #C8E6C9;
    --background-color: #FFFFFF;
    --accent-color: #FD683A;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --general-font: 'Open Sans', sans-serif;
}



.navbar{
    background-color: var(--primary-color) !important;
}

.navbar-brand{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.3rem;
    font-style: normal;
}

/* Home-Section */

.home-row{
    padding: 3rem 0;
}

.f-home-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.s-home-col{
    position: relative;
}

.box {
    position: absolute;
}




.col-main-image{
    height: auto;

}



.col-bg-image{
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}


.home-heading{
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--primary-color);
}
.home-text{
    font-weight: 400;
    font-family: var(--secondary-font);
    font-style: normal;
    
    color: var(--accent-color);
}

.bttn {
    border-radius: 12px;
    font-family: var(--primary-font);
    color: #4CAF50;
    font-size: 21px;
    background: #ffffff;
    padding: 12px 18px 12px 18px;
    border: solid #4CAF50 1px;
    text-decoration: none;
  }
  
.bttn:hover {
    background: #4CAF50;
    text-decoration: none;
    color: #FFFFFF;
  }
.bttn:focus{
    background: #4CAF50;
    text-decoration: none;
    color: #FFFFFF;
}

/* .btn-con{
    margin-top: 2rem;
} */

/* Features Section */
#features{
    background-color: var(--primary-color);
    /* margin-top: 6.9rem; */
    padding: 2rem 0;
}

.features-heading{
    font-family: var(--primary-color);
    font-weight: 700;
    color: var(--background-color);
    /* font-size: 2rem; */
    text-align: center;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.7rem;
    padding-bottom: 2.4rem;
}

.sub-title, .about-title{
    font-weight: 700;
    font-family: var(--primary-color);
    color: var(--accent-color);
    text-align: center;

}

.about-title{
    text-align: left;
    color: #000000;
    border-bottom: 1.5px solid var(--accent-color);
}
.sub-title-text{
    font-weight: 400;
    font-family: var(--general-font);
    text-align: center;
    color: var(--background-color);


}

.fa-2xl{
    font-size: 3rem;
    text-align: center;
}

#testimonies, #about{
    padding: 2rem 0;
}

.testimonies-heading{
    font-family: var(--primary-fontr);
    font-weight: 700;
    color: #000000;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.9rem;
}

.test-title-text{
    font-weight: 400;
    font-family: var(--general-font);
    text-align: center;
    color: #000000;
}

#footer{
    padding-top: 1rem;
    background-color: var(--primary-color);
    border-top: 1px solid #FFFFFF;
}


.footer-text{
    font-weight: 400;
    font-family: var(--general-font);
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 0.3rem;
}



/* Faculty Page */
.listings-container{
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.listing{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 18rem;
    min-width: 0;
    margin: 1em;
}

.listing-hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}



.listing-link{
    display: block;
    padding: 1.8rem 2.2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.listing-name{
    display: block;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    padding-top: 1rem;
    text-decoration: none;
    color: var(--primary-color);
}

.list-image{
    width: 225px;
    height: 150px;
}

.listing-name-hove-color{
    color: var(--accent-color);
}

.listing-hover{
    border-color: var(--accent-color);
    box-shadow: 0 0 1rem rgba(0,0,0,.6);
    background-color: rgba(255,255,255,.25)
}


/* Option Page */
.option-heading, .about-heading{
    font-family: var(--primary-fontr);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2rem;
    text-align: left;
    padding-top: 3rem;
    margin-bottom: 0.9rem;
    border-bottom: 1.5px solid #b9b9b9;
}

.form-label{
    font-size: 1.2rem;
    font-family: var(--secondary-font);
}

.form-div{
    margin-bottom: 1.2rem;
}

.form-select{
    margin-right: 2rem;

}

.form-option{
    font-size: 1rem;
    font-family: var(--secondary-font);
}



.download-text{
    font-family: var(--general-font);
    font-size: 1.3rem;
    color: var(--primary-color);
    text-align: center;
}

.about-heading{
    margin-bottom: 2.5rem;
}

.about-text{
    font-weight: 400;
    font-family: var(--general-font);
    color: #000000;
    
     
}
.contact-title{
    font-weight: 400;
    font-family: var(--general-font);
    color: var(--background-color);
    font-size: 1rem;
}
/* Mobile Breakpoint */
@media (min-width: 200px) {
    .contact-title{
        text-align: center;
    }

    .about-title{
        font-size: 1rem;
    }

    .about-heading{
        font-size: 1.7rem;
    }

    .about-text{
        font-size: 0.8rem;
    }
    
    .listing{
        margin: 0.7rem 4rem;
    }
    

    .list-image{
        max-width: 95%;

    }
    .listing-link{
        padding: 1rem 1.2rem
    }

    .listing-name{
        font-size: 1rem;
    }

    .faculty-text{
        font-size: 0.8rem;
        text-align: center;
        padding-top: 2rem;
        border-bottom: 1px solid #b9b9b9;
    }
    .sub-title{
        font-size: 1.2rem;

    }
    .img-col{
        display: grid;
    }
    .test-title-text{
        font-size: 0.8rem;
        text-align: center;
    }
    .footer-text{
        font-size: 0.7rem;
        text-align: center;
        color: var(--background-color);
    }

    .foot{
        font-size: 0.7rem;
        text-align: center;
        color: var(--background-color);
    }
    .testimonies-heading{
        padding-bottom: 0.2rem;
    }
    .features-heading, .testimonies-heading{
        font-size: 1.5rem;
        text-align: center;
    }

    .test-col{
        margin: 1rem 0;
    }
    .home-heading{
        font-size: 2.2rem;
        text-align: center;
    }
    .home-row{
        margin-bottom: 13rem
    }
    .home-text{
        font-size: 0.9rem;
        text-align: center;

    }
    
    .btn-con{
        display: flex;
    }

    .bttn{
        font-size: 17px;
    }
        
    .home-row{
        padding: 2rem 0;
    }
    

    .f-home-col {
        padding-top: 0rem;
    }

    .s-home-col{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
    .box{
        padding-left: 5rem;
    }
    .col-bg-image{
        max-width: 70%;
    
    }
    .col-main-image{
        margin: 0 auto;
        max-width: 60%;
    };

    

    

}

@media (min-width: 413px){
    .listing{
        margin: 0.7rem;
    }

    .faculty-text{
        font-size: 1.2rem
    }

    .listing-name {
    font-size: 1.2rem;
    }

}

/* Medium Breakpoint */
@media (min-width: 768px){
    .faculty-text{
        text-align: left;
        padding-bottom: 1rem;
    }
    
    .listing{
        margin: 0.7rem;
    }
    .col-bg-image{
        margin-left: 7rem;
        max-width: 70%;
    }
    

    .footer-text{
        text-align: left;
    }
}

@media (min-width: 769px) {
    .col-bg-image{
        max-width: 46%;
    }
}



@media (min-width: 992px){
    .contact-title{
        text-align: left;
    }
    
    .about-heading{
        font-size: 2.5rem;
    }

    .about-title{
        font-size: 1.5rem;
    }

    .about-text{
        font-size: 1rem;
    }
    .f-home-col{
        align-items: flex-start;
        justify-content: space-around;
    }

    .btn-con{
        padding-top: 1rem;
    }

    .bttn{
        font-size: 21px;
    }

    #features{
        margin-top: 8.1rem;
        padding: 2rem 0;
    }

    .features-heading, .testimonies-heading{
        font-size: 2rem
    }
    .test-title-text{
        font-size: 0.9rem;
    }

    .footer-text{
        font-size: 0.7rem;
        color: var(--background-color);
    }
    .sub-title{
        font-size: 1.5rem
    }

    .home-row{
        padding: 3rem 0;
        margin: 0;
    }

    .home-heading{
        margin-top: 4rem;
        font-size: 3rem;
        text-align: left;
    }

    .home-text{
        font-size: 1.2rem;
        text-align: left;
    }
    .btn-con{
        display: block;
    }
    
    .col-bg-image{
        max-width: 100%;
        margin-left: 0.3rem
    }
    .col-main-image{
        max-width: 100%;
        width: 23rem;
    };

    
}

@media (min-width: 1200px){
    #features{
        margin-top: 7.56rem;
    }
    .home-heading{
        font-size: 4rem;
    }
}