{%extends 'base.html'%}

{% block title%}About{%endblock%}
{% block content%}
<div class="container">
    <header>
        <h1 class="about-heading">About PastQ</h1>
      </header>

      <main>
        <section>
            <h2 class="about-title">Our Vision</h2>
            <p class="about-text">At the PastQ, we believe that access to past exam questions is crucial for effective exam preparation. We
                aim to bridge the gap between students and valuable academic resources, empowering them to excel in their
                studies.</p>
        </section>
    
        <section>
            <h2 class="about-title">Our Mission</h2>
            <p class="about-text">Our mission is to create a centralized platform where students can find exam questions from various
                disciplines and academic levels. By offering a comprehensive collection of past questions, we strive to
                enhance learning experiences, foster knowledge retention, and boost overall academic success.</p>
        </section>
    
        <section>
            <h2 class="about-title">Key Features</h2>
            <ul>
                <li class="about-text">Discipline-based Search: Our user-friendly interface allows students to explore past exam questions by
                    discipline, making it effortless to find relevant materials for their specific field of study.</li>
                <li class="about-text">User-Friendly Experience: We have designed the PastQ Website with a focus on simplicity and ease of
                    use. Our intuitive interface ensures a seamless navigation experience for users, enabling them to
                    quickly locate and access the resources they need.</li>
                <li class="about-text">Secure Admin Panel: We prioritize data security and integrity. Our secure admin panel allows authorized
                    administrators to upload and manage past question papers, ensuring the accuracy and relevance of the
                    materials available.</li>
            </ul>
        </section>
    
        <section>
            <h2 class="about-title">Our Commitment</h2>
            <p class="about-text">We are committed to continuously expanding our database of past exam questions, collaborating with faculty
                members, and obtaining permissions to access and upload materials. Our dedication to maintaining an
                up-to-date and extensive collection sets us apart as a valuable resource for students.</p>
        </section>
    
        <section>
            <h2 class="about-title">Join the PastQ Community</h2>
            <p class="about-text">We invite you to join our growing community of students and educators. Explore the PastQ Website, browse
                through the available disciplines, and discover the wealth of exam questions at your fingertips.</p>
            <p class="about-text">We are excited to be part of your academic journey and look forward to helping you succeed!</p>
        </section>
    </main>
</div>



{% endblock%}