
{%extends 'base.html'%}      

{%block title%}Past Exam Questions {%endblock%}
{%load static%}
{%block content%}
      <section id="home">
        <div class="container">
          <div class="row home-row">
            <div class="col-lg-6 col-sm-12 f-home-col">
              <h1 class="home-heading">Access Past Exam Questions</h1>
              <p class="home-text">Unlock the Knowledge Vault: Explore Exam Questions Across Disciplines and Academic Levels</p>
              
              <div class="btn-con">
                <a class="btn-link" href="{% url 'faculties'%}">
                  <button  type="button" class="btn btn-outline-primary btn-lg">GET STARTED</button>
                </a>
              </div>
              
            </div>
            <div class="col-lg-6 col-sm-12 s-home-col">
              <div class="box">
                <img class="col-bg-image" src="{% static 'images/94540733998.png' %}" alt="">
              </div>

              <div class="box box-ontop">
                <img class="col-main-image" src="{% static 'images/young-african-american-student-holding-pile-books-removebg-preview.png'%}" alt="" >
              </div>              
            </div>
          </div>
        </div>
      </section>

      <section id="features">
        <div class="container">
          <h3 class="features-heading">Why Choose PastQ?</h3>
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="icon-container">
                <i class="fa-solid fa-book-open fa-2xl" style="color: #ffffff;"></i>      
              </div>
              <h4 class="sub-title">Extensive Collection</h4>
              <p class="sub-title-text">Explore our vast database of past exam questions covering diverse disciplines and academic levels.</p>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="icon-container">
                <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #ffffff;"></i>      
              </div>
              <h4 class="sub-title">Easy Navigation</h4>
              <p class="sub-title-text">Effortlessly browse through different disciplines to find the specific exam questions you need.</p>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="icon-container">
                <i class="fa-solid fa-graduation-cap fa-2xl" style="color: #ffffff;"></i>      
              </div>
              <h4 class="sub-title">Exam Readiness</h4>
              <p class="sub-title-text">Boost your exam preparation with authentic exam questions from previous years to enhance your performance.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="testimonies">
        <div class="container">
          <h3 class="testimonies-heading">Testimonies</h3>
          <div class="row">
            <div class="col-lg-6 test-col col-md-6 col-sm-12">
              <div class="card">
                <div class="icon-container">
                  <i class="fa-solid fa-circle-user fa-2xl" style="color: #000000;"></i>       
                </div>
                <h4 class="sub-title">John Doe</h4>
                <p class="test-title-text">PastQ has been a lifesaver for me. It helped me practice with real exam questions and improved my performance.</p>
              </div>
            </div>

            <div class="col-lg-6 test-col col-md-6 col-sm-12">
              <div class="card">
                <div class="icon-container">
                  <i class="fa-solid fa-circle-user fa-2xl" style="color: #000000;"></i>     
                </div>
                <h4 class="sub-title">John DoJane Smithe</h4>
                <p class="test-title-text">The variety of exam questions available on PastQ is impressive. It made my exam preparation much more effective.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 img-col">
              <img src="" alt="" style="height: 100px; width: 100px; border: 1px solid #ffffff;">
            </div>
            <div class="col-lg-9 col-md-9">
              <h2 class="about-heading">About PastQ</h2>
              <p class="about-text">PastQ is an online platform dedicated to providing access to a comprehensive collection of past exam questions from various disciplines. Our mission is to assist students in their exam preparation by offering a convenient and organized resource.</p>
            </div>
        </div>
      </section>
      {%endblock%}